# Modeling

Frequently used libraries are imported.
The dataset imported from the csv file.

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from bokeh.plotting import figure, show, output_notebook, output_file, reset_output
from bokeh.layouts import gridplot
from bokeh.models import HoverTool
import statsmodels.api as sm
from scipy import stats
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
import re
import nltk
from string import punctuation
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import string
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

Import the file:

In [2]:
file_path ='../Datasets/geocoded_and_location_filtered.csv'

real_estate=pd.read_csv(file_path)
real_estate.sample(10)

/var/folders/kv/4xjj0g696_lcyc7ms5pdd2t00000gn/T/ipykernel_75591/1168842263.py:3: DtypeWarning: Columns (9,10,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate=pd.read_csv(file_path)

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Full Address,latitude,longitude,month_recorded,year_recorded
405123,417341,180149,2018,2018-12-18,Enfield,22 PARKY DR,120530.0,169900.0,0.709400,Single Family,Single Family,25.0,SOLD AS IS,NaN,POINT (-72.57531 41.94218),"22, Parky Dr, Enfield, Connecticut, United States",-72.575310,41.942180,12,2018
13944,14713,200302,2020,2021-02-10,Glastonbury,291 WICKHAM RD,239700.0,301500.0,0.795000,Residential,Two Family,25.0,AS-IS SALE,NaN,NaN,"291, Wickham Rd, Glastonbury, Connecticut, Uni...",41.708004,-72.559483,2,2021
168059,174252,60794,2006,2007-06-25,Fairfield,646 MILL HL TER,412720.0,163333.0,2.526862,Single Family,Single Family,8.0,NaN,NaN,NaN,"646, Mill Hl Ter, Fairfield, Connecticut, Unit...",41.146329,-73.282521,6,2007
135367,141560,52062,2005,2006-05-08,Bridgeport,120 HUNTINGTON TPKE,30839.0,112000.0,0.275348,NaN,NaN,NaN,NaN,NaN,POINT (-73.17671 41.21224),"120, Huntington Tpke, Bridgeport, Connecticut,...",-73.176710,41.212240,5,2006
347758,359976,150102,2015,2016-05-18,Old Lyme,46 OLD COLONY RD,174600.0,290000.0,0.602069,Single Family,Single Family,NaN,NaN,NaN,POINT (-72.27645 41.28723),"46, Old Colony Rd, Old Lyme, Connecticut, Unit...",-72.276450,41.287230,5,2016
434731,446949,19145,2019,2020-06-16,Orange,240 INDIAN RIVER RD,274200.0,1771000.0,0.154800,NaN,NaN,6.0,unit D1,NaN,NaN,"240, Indian River Rd, Orange, Connecticut, Uni...",41.263672,-73.001055,6,2020
267097,279315,120054,2012,2013-01-30,Mansfield,LOT 31 SAWMILL BROOK LA,41370.0,25000.0,1.654800,NaN,NaN,15.0,LAND LOCKED PARCEL SALE BY ESTATE TO TOWN OF M...,NaN,NaN,NaN,34.220389,70.380031,1,2013
214481,226699,90077,2009,2010-03-02,Clinton,27 WEST MAIN STREET,249600.0,230000.0,1.085217,NaN,NaN,14.0,NaN,NaN,NaN,"27, West Main Street, Clinton, Connecticut, Un...",41.279328,-72.530136,3,2010
263227,275445,120058,2012,2012-10-23,New Haven,408 LEGION AVENUE,54460.0,65000.0,0.837846,Two Family,Two Family,14.0,NaN,NaN,NaN,"408, Legion Avenue, New Haven, Connecticut, Un...",41.305800,-72.945333,10,2012
64277,68306,20501,2002,2003-01-20,Hartford,146-148 PARK TER,97440.0,55000.0,1.771636,NaN,NaN,NaN,NaN,NaN,NaN,"146, Park Ter, Hartford, Connecticut, United S...",41.758388,-72.693629,1,2003

Check the dataset:

In [3]:
print(real_estate.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449675 entries, 0 to 449674
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        449675 non-null  int64
 1   Serial Number     449675 non-null  int64
 2   List Year         449675 non-null  int64
 3   Date Recorded     449675 non-null  object
 4   Town              449675 non-null  object
 5   Address           449627 non-null  object
 6   Assessed Value    449675 non-null  float64
 7   Sale Amount       449675 non-null  float64
 8   Sales Ratio       449675 non-null  float64
 9   Property Type     293652 non-null  object
 10  Residential Type  289555 non-null  object
 11  Non Use Code      236743 non-null  float64
 12  Assessor Remarks  146190 non-null  object
 13  OPM remarks       9753 non-null    object
 14  Location          197691 non-null  object
 15  Full Address      432384 non-null  object
 16  latitude          449675 non-null  float64
 17  longitude         449675 non-null  float64
 18  month_recorded    449675 non-null  int64
 19  year_recorded     449675 non-null  int64
dtypes: float64(6), int64(5), object(9)
memory usage: 68.6+ MB
None

Columns to be dropped:
'Unnamed: 0': unnecessary column from Geocoding
'Serial Number': not applicable in modelling
'Date Recorded': feature-engineered as month and year
'Sales Ratio': since it is a ratio between assessed and sales values, it would cause data-leakage
'Address''Full Address': used in geocoding, not applicable in modelling
'Property Type': Redundant with "Residential Type"
'Location': feature-engineered as longitude and latitude

Also, 'na' is inserted to fill null values:

In [4]:
real_estate_nonull = real_estate.drop(columns=['Unnamed: 0','Serial Number', 'Date Recorded', 'Sales Ratio', 'Address', 'Full Address', 'Property Type', 'Location'], axis=1)
real_estate_nonull = real_estate_nonull.fillna("na")

Check that the columns are dropped and 'na' is inserted

In [5]:
real_estate_nonull.sample()

,List Year,Town,Assessed Value,Sale Amount,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,latitude,longitude,month_recorded,year_recorded
206702,2009,Groton,366660.0,197500.0,Single Family,8.0,na,na,-72.00494,41.31924,9,2010

In [6]:
#Missing values check
print(".info of All Columns\n", real_estate_nonull.info())
print("Null Values in Total\n", real_estate_nonull.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449675 entries, 0 to 449674
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   List Year         449675 non-null  int64
 1   Town              449675 non-null  object
 2   Assessed Value    449675 non-null  float64
 3   Sale Amount       449675 non-null  float64
 4   Residential Type  449675 non-null  object
 5   Non Use Code      449675 non-null  object
 6   Assessor Remarks  449675 non-null  object
 7   OPM remarks       449675 non-null  object
 8   latitude          449675 non-null  float64
 9   longitude         449675 non-null  float64
 10  month_recorded    449675 non-null  int64
 11  year_recorded     449675 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 41.2+ MB
.info of All Columns
 None
Null Values in Total
 List Year           0
Town                0
Assessed Value      0
Sale Amount         0
Residential Type    0
Non Use Code        0
Assessor Remarks    0
OPM remarks         0
latitude            0
longitude           0
month_recorded      0
year_recorded       0
dtype: int64

Start train/remainder/test split:

In [7]:
X = real_estate_nonull.drop('Sale Amount', axis=1)
y = real_estate_nonull["Sale Amount"]

One-hot-encode 'List Year', 'Town','Residential Type', 'Non Use Code' because encoding X_train, X_val, X_test separately may result in different number of columns.

In [8]:
X_coded= pd.get_dummies(X, columns=['List Year', 'Town','Residential Type', 'Non Use Code'])

In [9]:
X_rem, X_test, y_rem, y_test = train_test_split(X_coded, y, test_size=0.3, random_state=22)

In [10]:
X_train, X_val, y_train, y_val = train_test_split(X_rem, y_rem, test_size=0.5, random_state=22)
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(157386, 242) (157386, 242) (157386,) (157386,)

In [11]:
X_train_Assessor_Remarks = X_train['Assessor Remarks']
X_train_OPM_remarks = X_train["OPM remarks"]
X_train_numerical = X_train[[ "Assessed Value", "latitude", "longitude"]]
X_train_coded = X_train.drop(["Assessor Remarks", "OPM remarks", "Assessed Value", "latitude", "longitude"], axis =1)

X_val_Assessor_Remarks = X_val['Assessor Remarks']
X_val_OPM_remarks = X_val['OPM remarks']
X_val_numerical = X_val[[ "Assessed Value", "latitude", "longitude"]]
X_val_coded = X_train.drop(["Assessor Remarks", "OPM remarks", "Assessed Value", "latitude", "longitude"], axis =1)

#Check the shape of each dataframe:
print(X_train_Assessor_Remarks.shape, X_train_OPM_remarks.shape, X_val_Assessor_Remarks.shape, X_val_OPM_remarks.shape, X_train_coded.shape, X_val_coded.shape)

(157386,) (157386,) (157386,) (157386,) (157386, 237) (157386, 237)

Create tokenizer:

In [12]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

def custom_tokenizer(s):
    # Remove punctuation
    for char in s:
        if char in string.punctuation:
            s = s.replace(char, '')

    # Make the string lowercase
    s = s.lower()
    
    # Split the string at each space
    tokens = s.split()

    # Create a set of NLTK stop words for faster lookup
    stop_words = set(stopwords.words('english'))

    # Lemmatize tokens and filter out stop words
    wnl = WordNetLemmatizer()
    lemmatized_tokens = [wnl.lemmatize(token) for token in tokens if token not in stop_words]

    return lemmatized_tokens

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

Instantiate the count_vectorizer and tf-idf_vectorizer:

In [13]:
stemmer = nltk.stem.PorterStemmer()
count_vectorizer = CountVectorizer(
    tokenizer = custom_tokenizer,
    stop_words='english',
    min_df=10,
    max_features=1000
)

In [21]:
tfidf_vectorizer = TfidfVectorizer(
    tokenizer=custom_tokenizer,
    stop_words='english',
    min_df=10,
    max_features=1000
)

Vectorize & Fit the values:

In [25]:
X_train_Assessor_Remarks_vectorized= count_vectorizer.fit_transform(X_train_Assessor_Remarks.values)
X_train_Assessor_Remarks_df = pd.DataFrame((X_train_Assessor_Remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_val_Assessor_Remarks_vectorized= count_vectorizer.transform(X_val_Assessor_Remarks.values)
X_val_Assessor_Remarks_df= pd.DataFrame((X_val_Assessor_Remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_train_OPM_remarks_vectorized= count_vectorizer.fit_transform(X_train_OPM_remarks.values)
X_train_OPM_remarks_df = pd.DataFrame((X_train_OPM_remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_val_OPM_remarks_vectorized= count_vectorizer.transform(X_val_OPM_remarks.values)
X_val_OPM_remarks_df = pd.DataFrame((X_val_OPM_remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

Scale the numerical values:

In [26]:
my_minmax_scaler = MinMaxScaler()
X_train_numerical_scaled = my_minmax_scaler.fit_transform(X_train_numerical)
X_val_numerical_scaled  = my_minmax_scaler.transform(X_val_numerical)

X_train_numerical_scaled_df = pd.DataFrame(X_train_numerical_scaled, columns=X_train_numerical.columns)
X_val_numerical_scaled_df = pd.DataFrame(X_val_numerical_scaled, columns=X_val_numerical.columns)

Reset indices:

In [27]:
X_train_Assessor_Remarks_df = X_train_Assessor_Remarks_df.reset_index(drop=True)
X_train_OPM_remarks_df = X_train_OPM_remarks_df.reset_index(drop=True)
X_train_numerical_scaled_df = X_train_numerical_scaled_df.reset_index(drop=True)
X_train_coded = X_train_coded.reset_index(drop=True)

X_val_Assessor_Remarks_df = X_val_Assessor_Remarks_df.reset_index(drop=True)
X_val_OPM_remarks_df = X_val_OPM_remarks_df.reset_index(drop=True)
X_val_numerical_scaled_df = X_val_numerical_scaled_df.reset_index(drop=True)
X_val_coded = X_val_coded.reset_index(drop=True)

Merge components:

In [28]:
X_train_remarks_merged = pd.concat([X_train_Assessor_Remarks_df, X_train_OPM_remarks_df], axis=1)
X_train_all_merged = pd.concat([X_train_remarks_merged.reset_index(drop=True), X_train_numerical_scaled_df, X_train_coded], axis=1)

X_val_remarks_merged = pd.concat([X_val_Assessor_Remarks_df, X_val_OPM_remarks_df], axis=1)
X_val_all_merged = pd.concat([X_val_remarks_merged, X_val_numerical_scaled_df, X_val_coded], axis=1)

Print the shape of the final merged data:

In [29]:
print("Shape after merging all components (train set):", X_train_all_merged.shape)
print("Shape after merging all components (val set):", X_val_all_merged.shape)

Shape after merging all components (train set): (157386, 1342)
Shape after merging all components (val set): (157386, 1342)

Check for null values:

In [30]:
print(X_train_all_merged.isna().sum().sum())
print(X_val_all_merged.isna().sum().sum())

0
0

Check the data types:

In [ ]:
X_train_all_merged.select_dtypes(include=['object'])
X_val_all_merged.select_dtypes(include=['object'])

#Because there are too many columns, .info() is not used

Baseline Lasso Model:

In [30]:
lasso_model = Lasso(alpha=1.0) 

# Fit the model to your training data
lasso_model.fit(X_train_all_merged, y_train)

score = lasso_model.score(X_train_all_merged, y_train)

print(f"R2 train score:{score}")

score = lasso_model.score(X_val_all_merged, y_val)

print(f"R2 val score:{score}")

/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.140e+17, tolerance: 7.794e+13
  model = cd_fast.enet_coordinate_descent(

R2 train score:0.18909042188612868
R2 val score:-0.0012220569317249463

Estimator + random search for Lasso:

In [35]:
estimators = [
    ('scaling', StandardScaler()),
    ('reduce_dim', PCA()),
    ('model', LinearRegression())
]

pipe = Pipeline(estimators)

param_dist = [
    {
        'scaling': [StandardScaler(), RobustScaler(), MinMaxScaler()],
        'reduce_dim': [PCA()],
        'reduce_dim__n_components': [1, 100, 10],
        'model': [Lasso()],
        'model__alpha': [0.1, 1, 10, 100],
    }
]

random_search = RandomizedSearchCV(
    estimator=pipe,
    param_distributions=param_dist,
    n_iter=10, 
    cv=5,
    verbose=2,
    n_jobs=-1
)

# Fit the grid search to the training data
random_search.fit(X_train_all_merged, y_train)

# Get the best estimator
best_estimator = random_search.best_estimator_

y_pred_train = best_estimator.predict(X_train_all_merged)
y_pred_val = best_estimator.predict(X_val_all_merged)

# Calculate the R-squared (R2) score
r2_train = r2_score(y_train, y_pred_train)
r2_val = r2_score(y_val, y_pred_val)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
R-squared (R2) Score on Training Data: 0.11305220745915812
R-squared (R2) Score on Validation Data: -0.01988716153228398
Best Parameters: {'scaling': RobustScaler(), 'reduce_dim__n_components': 100, 'reduce_dim': PCA(n_components=100), 'model__alpha': 100, 'model': Lasso(alpha=100)}
Best Estimator: Pipeline(steps=[('scaling', RobustScaler()),
                ('reduce_dim', PCA(n_components=100)),
                ('model', Lasso(alpha=100))])

Training and Validation Scores with the Best Estimator:

In [37]:
print("R-squared (R2) Score on Training Data:", r2_train)
print("R-squared (R2) Score on Validation Data:", r2_val)

# Get the best parameters and best estimator
print("Best Parameters:", random_search.best_params_)
print("Best Estimator:", best_estimator)

R-squared (R2) Score on Training Data: 0.11305220745915812
R-squared (R2) Score on Validation Data: -0.01988716153228398
Best Parameters: {'scaling': RobustScaler(), 'reduce_dim__n_components': 100, 'reduce_dim': PCA(n_components=100), 'model__alpha': 100, 'model': Lasso(alpha=100)}
Best Estimator: Pipeline(steps=[('scaling', RobustScaler()),
                ('reduce_dim', PCA(n_components=100)),
                ('model', Lasso(alpha=100))])

DT Baseline Mode:

In [36]:
from sklearn.tree import DecisionTreeRegressor

# Create a DecisionTreeRegressor instance
DT_regressor_model = DecisionTreeRegressor(max_depth=20, min_samples_split = 100, min_samples_leaf = 100, random_state = 22)  # You can specify various hyperparameters like max_depth

# Fit the model to the data
DT_regressor_model.fit(X_train_all_merged, y_train)

# Make predictions on the training data
y_pred_train = DT_regressor_model.predict(X_train_all_merged)

# Calculate the R-squared score for training data
DT_train_score = DT_regressor_model.score(X_train_all_merged, y_train)

print(f"R-squared Score for Training Data: {DT_train_score}")

R-squared Score for Training Data: 0.2459337077243653

In [39]:
DT_val_score = DT_regressor_model.score(X_val_all_merged, y_val)
DT_val_score

-0.08286104331141386

KNN baseline model:

In [50]:

# Create a KNeighborsRegressor instance
KNN_regressor_model = KNeighborsRegressor(n_neighbors=30, weights="distance", leaf_size=100) 

# Fit the model to the training data
KNN_regressor_model.fit(X_train_all_merged, y_train)

KNeighborsRegressor(leaf_size=100, n_neighbors=30, weights='distance')

In [51]:
# Make predictions on the training data
y_pred_train = KNN_regressor_model.predict(X_train_all_merged)

# Calculate the R-squared score for training data
KNN_train_score = KNN_regressor_model.score(X_train_all_merged, y_train)

print(f"R-squared Score for Training Data: {KNN_train_score}")

R-squared Score for Training Data: 0.9976945732083496

In [ ]:
KNN_val_score = KNN_regressor_model.score(X_val_all_merged, y_val)
print(f"R-squared Score for Validaion Data: {KNN_val_score}")

In [44]:

# Calculate the Mean Squared Error for training data
mse = mean_squared_error(y_train, y_pred_train)  
print(f"Mean Squared Error for Training Data: {mse}")

# Make predictions on the validation data
y_pred_val = KNN_regressor_model.predict(X_val_all_merged)

# Calculate the R-squared score for validation data
KNN_val_score = r2_score(y_val, y_pred_val)  
print(f"R-squared Score for Validation Data: {KNN_val_score}")

# Calculate the Mean Squared Error for validation data
mse = mean_squared_error(y_val, y_pred_val)  
print(f"Mean Squared Error for Validation Data: {mse}")

Mean Squared Error for Training Data: 48071508736.357956
R-squared Score for Validation Data: -0.14897146203196754
Mean Squared Error for Validation Data: 6124546204925.301

In [32]:
from sklearn.neighbors import KNeighborsRegressor

estimators = [
    ('scaling', StandardScaler()),
    ('reduce_dim', PCA()),
    ('model', KNeighborsRegressor())
]

pipe = Pipeline(estimators)

param_dist = [
    {
        'scaling': [StandardScaler(), RobustScaler(), MinMaxScaler()],
        'reduce_dim': [PCA()],
        'reduce_dim__n_components': [1, 100, 10],
        'model': [KNeighborsRegressor()],
        'model__n_neighbors': [3, 10, 30, 50],
        'model__weights': ['uniform', 'distance'],
        'model__leaf_size': [10,50, 100],
        'model__n_jobs': [-1]
    }
]

random_search = RandomizedSearchCV(
    estimator=pipe,
    param_distributions=param_dist,
    n_iter=10, 
    cv=5,
    verbose=2,
    n_jobs=-1
)

In [ ]:
# Fit the grid search to the training data
random_search.fit(X_train_all_merged, y_train)

# Get the best estimator
best_estimator = random_search.best_estimator_

y_pred_train_KNN_estimator = best_estimator.predict(X_train_all_merged)
y_pred_val_KNN_estimator = best_estimator.predict(X_val_all_merged)

# Calculate the R-squared (R2) score
r2_train_KNN_estimator = r2_score(y_train,y_pred_train_KNN_estimator)
r2_val_KNN_estimator = r2_score(y_val, y_pred_val_KNN_estimator)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

The analysis reveals that none of the models achieved a satisfactory level of performance in capturing the underlying patterns within the variance of the data, whether applied to the training dataset or the validation dataset. This outcome is particularly noteworthy, given that one of the model features was "Assessed Value," which, in principle, should exhibit a correlation with the sale price. Had any of the models exhibited significant R-squared (R^2) values, the subsequent steps would have entailed further refinement and optimization, possibly including ensemble techniques such as model bagging.