# Modeling

Frequently used libraries are imported.
The dataset imported from the csv file.

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from bokeh.plotting import figure, show, output_notebook, output_file, reset_output
from bokeh.layouts import gridplot
from bokeh.models import HoverTool
!pip install osmnx
import osmnx as ox
import geopandas as gpd
import statsmodels.api as sm
from scipy import stats
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
import re
import nltk
from string import punctuation
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

Requirement already satisfied: osmnx in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (1.6.0)
Requirement already satisfied: geopandas>=0.12 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (0.13.2)
Requirement already satisfied: networkx>=2.5 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (3.0)
Requirement already satisfied: numpy>=1.20 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (1.24.3)
Requirement already satisfied: pandas>=1.1 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (1.5.3)
Requirement already satisfied: requests>=2.27 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (2.29.0)
Requirement already satisfied: shapely>=2.0 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from osmnx) (2.0.1)
Requirement already satisfied: fiona>=1.8.19 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (1.9.4.post1)
Requirement already satisfied: packaging in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (23.0)
Requirement already satisfied: pyproj>=3.0.1 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->osmnx) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->osmnx) (2022.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2023.7.22)
Requirement already satisfied: attrs>=19.2.0 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (22.1.0)
Requirement already satisfied: click~=8.0 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (8.0.4)
Requirement already satisfied: click-plugins>=1.0 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (0.7.2)
Requirement already satisfied: six in /Users/haesunjung/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (1.16.0)

In [41]:
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
file_path = '../Datasets/cleaned_real_estate.csv'

real_estate=pd.read_csv(file_path)
real_estate.sample(10)

/var/folders/kv/4xjj0g696_lcyc7ms5pdd2t00000gn/T/ipykernel_78566/1540603578.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate=pd.read_csv(file_path)

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Full Address,latitude,longitude,month_recorded,year_recorded
75934,684041,130153,2013,2014-03-13,New Milford,36 TAYLOR ST,155120.0,198000.0,0.783434,Single Family,Single Family,NaN,NaN,NaN,"36, Taylor St, New Milford, Connecticut, Unite...",-73.41763,41.58499,3,2014
80465,713008,140701,2014,2015-07-02,Killingly,93 PINEVILLE RD,125160.0,242500.0,0.516124,Single Family,Single Family,1.0,NaN,NaN,"93, Pineville Rd, Killingly, Connecticut, Unit...",-71.85850,41.88266,7,2015
99281,832392,161156,2016,2017-07-28,Waterbury,89 NELSON AVE,61470.0,46277.0,1.328306,Single Family,Single Family,25.0,NaN,NOT A VALID SALE PER TOWN SITE,"89, Nelson Ave, Waterbury, Connecticut, United...",-73.01074,41.54926,7,2017
119648,968298,190828,2019,2020-03-17,Waterbury,136 WOODSIDE AVE,102460.0,105000.0,0.975800,Single Family,Single Family,25.0,PRIVATE SALE,NaN,"136, Woodside Ave, Waterbury, Connecticut, Uni...",-73.06289,41.56279,3,2020
71287,653587,12180,2012,2013-07-18,Plainville,11 OVERLOOK DR,176190.0,280000.0,0.629250,Single Family,Single Family,NaN,NaN,NaN,"11, Overlook Dr, Plainville, Connecticut, Unit...",-72.88908,41.68853,7,2013
18859,44448,201179,2020,2021-03-16,New London,60 OCEAN AVE,87220.0,165000.0,0.528600,Residential,Two Family,NaN,NaN,NaN,"60, Ocean Ave, New London, Connecticut, United...",-72.10714,41.34642,3,2021
73583,669073,130585,2013,2014-07-21,Hamden,159 TOM SWAMP RD,210910.0,175350.0,1.202794,Single Family,Single Family,14.0,BANK SALE,NaN,"159, Tom Swamp Rd, Hamden, Connecticut, United...",-72.92994,41.43989,7,2014
66793,625385,120602,2012,2013-07-23,Hamden,45 BENTON ST,98000.0,139500.0,0.702509,Single Family,Single Family,NaN,NaN,NaN,"45, Benton St, Hamden, Connecticut, United States",-72.89802,41.33115,7,2013
61490,594759,110284,2011,2012-06-21,Westport,4 WHEELER GATE,904600.0,1685000.0,0.536855,Single Family,Single Family,NaN,NaN,NaN,"4, Wheeler Gate, Westport, Connecticut, United...",-73.36246,41.13183,6,2012
60309,588100,100113,2010,2011-04-04,North Haven,9 BEATRICE DRIVE,174860.0,272500.0,0.641688,Single Family,Single Family,NaN,NaN,NaN,"9, Beatrice Drive, North Haven, Connecticut, U...",-72.85527,41.35108,4,2011

In [43]:
print(real_estate.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123753 entries, 0 to 123752
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        123753 non-null  int64
 1   Serial Number     123753 non-null  int64
 2   List Year         123753 non-null  int64
 3   Date Recorded     123753 non-null  object
 4   Town              123753 non-null  object
 5   Address           123753 non-null  object
 6   Assessed Value    123753 non-null  float64
 7   Sale Amount       123753 non-null  float64
 8   Sales Ratio       123753 non-null  float64
 9   Property Type     123753 non-null  object
 10  Residential Type  123753 non-null  object
 11  Non Use Code      35632 non-null   float64
 12  Assessor Remarks  25466 non-null   object
 13  OPM remarks       1980 non-null    object
 14  Full Address      123535 non-null  object
 15  latitude          123753 non-null  float64
 16  longitude         123753 non-null  float64
 17  month_recorded    123753 non-null  int64
 18  year_recorded     123753 non-null  int64
dtypes: float64(6), int64(5), object(8)
memory usage: 17.9+ MB
None

In [44]:
real_estate_nonull = real_estate.drop(columns=['Unnamed: 0','Serial Number', 'Date Recorded', 'Sales Ratio', 'Address', 'Full Address', 'Property Type'], axis=1)
real_estate_nonull = real_estate_nonull.fillna("na")
real_estate_nonull = real_estate_nonull.sample(2000)

In [45]:
real_estate_nonull.sample()

,List Year,Town,Assessed Value,Sale Amount,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,latitude,longitude,month_recorded,year_recorded
32908,2006,Norwich,161000.0,215000.0,Two Family,na,na,na,-72.07428,41.53381,2,2007

In [46]:
#Missing values check
print(".info of All Columns\n", real_estate_nonull.info())
print("Null Values in Total\n", real_estate_nonull.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 65918 to 8837
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   List Year         2000 non-null   int64
 1   Town              2000 non-null   object
 2   Assessed Value    2000 non-null   float64
 3   Sale Amount       2000 non-null   float64
 4   Residential Type  2000 non-null   object
 5   Non Use Code      2000 non-null   object
 6   Assessor Remarks  2000 non-null   object
 7   OPM remarks       2000 non-null   object
 8   latitude          2000 non-null   float64
 9   longitude         2000 non-null   float64
 10  month_recorded    2000 non-null   int64
 11  year_recorded     2000 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 203.1+ KB
.info of All Columns
 None
Null Values in Total
 List Year           0
Town                0
Assessed Value      0
Sale Amount         0
Residential Type    0
Non Use Code        0
Assessor Remarks    0
OPM remarks         0
latitude            0
longitude           0
month_recorded      0
year_recorded       0
dtype: int64

In [47]:
real_estate_nonull

,List Year,Town,Assessed Value,Sale Amount,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,latitude,longitude,month_recorded,year_recorded
65918,2012,Hartford,48998.0,38000.0,Three Family,25.0,Foreclosure related sale,na,-72.68732,41.75339,1,2013
68263,2012,Fairfield,283010.0,440000.0,Single Family,na,na,na,-73.23966,41.18553,10,2012
34371,2006,Torrington,366200.0,550000.0,Single Family,na,na,na,-73.19352,41.79217,2,2007
82626,2014,Shelton,170870.0,330000.0,Single Family,na,na,na,-73.14754,41.34857,7,2015
36004,2007,East Haven,117920.0,285000.0,Single Family,na,na,na,-72.88503,41.28410,10,2007
...,...,...,...,...,...,...,...,...,...,...,...,...
27676,2006,Madison,377000.0,837000.0,Single Family,na,na,na,-72.60775,41.27312,4,2007
57786,2010,New London,78750.0,135000.0,Two Family,7.0,na,na,-72.10629,41.35589,4,2011
16680,2020,Milford,177830.0,267500.0,Two Family,na,na,na,-73.09059,41.18907,12,2020
99029,2016,Waterbury,61470.0,46277.0,Single Family,14.0,na,na,-73.01074,41.54926,6,2017
8837,2020,Danbury,132900.0,217000.0,Condo,na,G09096-28,na,-73.46769,41.42001,11,2020

In [48]:

X = real_estate_nonull.drop('Sale Amount', axis=1)
y = real_estate_nonull["Sale Amount"]


X_train, X_test, y_train, y_test = train_test_split(
    X, y, train_size=0.7, test_size=0.3, random_state=100
) 
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1400, 11) (600, 11) (1400,) (600,)

In [49]:
X_train_Assessor_Remarks = X_train['Assessor Remarks']
X_train_OPM_remarks = X_train["OPM remarks"]
X_train_numerical = X_train[[ "Assessed Value", "latitude", "longitude"]]
X_train_to_encode = X_train[["Town", "Residential Type", "Non Use Code", "List Year", "month_recorded", "year_recorded"]]

X_test_Assessor_Remarks = X_test['Assessor Remarks']
X_test_OPM_remarks = X_test['OPM remarks']
X_test_numerical = X_test[[ "Assessed Value", "latitude", "longitude"]]
X_test_to_encode = X_test[["Town", "Residential Type", "Non Use Code", "List Year", "month_recorded", "year_recorded"]]



print(X_train_Assessor_Remarks.shape, X_train_OPM_remarks.shape, X_test_Assessor_Remarks.shape, X_test_OPM_remarks.shape, X_train_numerical.shape, X_test_numerical.shape)

(1400,) (1400,) (600,) (600,) (1400, 3) (600, 3)

In [50]:
X_train_OPM_remarks

5885      na
26933     na
96903     na
69776     na
48086     na
          ..
103681    na
27401     na
89822     na
64496     na
6734      na
Name: OPM remarks, Length: 1400, dtype: object

In [51]:
X_train_Assessor_Remarks

5885                                          na
26933                                         na
96903                                     C13001
69776                                ESTATE SALE
48086     Sale of part interest in real property
                           ...
103681                                        na
27401                       CRUMBLING FOUNDATION
89822                                         na
64496                                     I16141
6734                                          na
Name: Assessor Remarks, Length: 1400, dtype: object

In [52]:
X_train_numerical

        Assessed Value  latitude  longitude
5885          123400.0 -72.50238   41.78400
26933         117280.0 -72.45285   41.86363
96903         185200.0 -73.51783   41.39645
69776         108290.0 -72.76001   41.54778
48086        1426180.0 -73.50632   41.14170
...                ...       ...        ...
103681         82900.0 -71.90506   41.91406
27401         141500.0 -72.33234   41.90475
89822         496000.0 -72.65119   41.33318
64496         353200.0 -73.44957   41.38504
6734           62600.0 -72.76968   41.63991

[1400 rows x 3 columns]

In [53]:
X_train_to_encode

,Town,Residential Type,Non Use Code,List Year,month_recorded,year_recorded
5885,Manchester,Single Family,na,2020,8,2021
26933,Vernon,Four Family,na,2020,2,2021
96903,Danbury,Single Family,na,2016,11,2016
69776,Meriden,Condo,25.0,2012,11,2012
48086,New Canaan,Single Family,8.0,2009,9,2010
...,...,...,...,...,...,...
103681,Putnam,Two Family,na,2017,7,2018
27401,Tolland,Single Family,27.0,2020,3,2021
89822,Madison,Single Family,na,2015,5,2016
64496,Danbury,Single Family,na,2011,5,2012
6734,Berlin,Condo,na,2020,11,2020

In [54]:
def custom_tokenizer(s):
    
    # remove punctuation from the string using string.punctuation
    for char in s:
        if char in punctuation:
            s = s.replace(char, '')
            
    # make the entire string lowercase
    s = s.lower()
    
    # split the string at each space to make the list of tokens (uncleaned)
    tokens = s.split()
    
    # save NLTK stop words to a variable
    stop_words = nltk.corpus.stopwords.words('english')
    
    # use list comprehension to create a list of the tokens that are NOT stop words
    tokens_new = [token for token in tokens if token not in stop_words]
    
    # create WordNetLemmatizer object
    wnl = nltk.stem.WordNetLemmatizer()

    token = wnl.lemmatize(word=token)

    # list of part-of-speech tags
    pos_tags = ['v', 'n', 'a']
    
    # initiate empty list to collect lemmatized tokens
    tokens_lem = list()

    # loop through each token ->opm_tag & assessor_tag
    for token in tokens_new:

        # loop through each part-of-speech tag
        for pos_tag in pos_tags:

            # lemmatize each token using each part-of-speech tag
            token = wnl.lemmatize(word=token, pos=pos_tag)

        # append the lemmatized token to the new list
        tokens_lem.append(token)
    
    return tokens_lem

In [55]:
def custom_tokenizer(s):
    # Remove punctuation from the string using string.punctuation
    for char in s:
        if char in string.punctuation:
            s = s.replace(char, '')

    # Make the entire string lowercase
    s = s.lower()

    # Split the string at each space to make the list of tokens (uncleaned)
    tokens = s.split()

    stop_words = nltk.corpus.stopwords.words('english')

    # Save NLTK stop words to a variable
    stop_words = set(stopwords.words('english'))

    # Use list comprehension to create a list of tokens that are NOT stop words
    tokens_new = [token for token in tokens if token not in stop_words]


    # Create WordNetLemmatizer object
    wnl = nltk.stem.WordNetLemmatizer()

    # Lemmatize tokens
    lemmatized_tokens = [wnl.lemmatize(token) for token in tokens_new]

    return lemmatized_tokens

In [56]:
stemmer = nltk.stem.PorterStemmer()
count_vectorizer = CountVectorizer(
    tokenizer= custom_tokenizer,
    stop_words='english', 
    min_df=5,
    max_features=1000
)
nltk.download('wordnet')

nltk.download('omw-1.4')

#TF-IDF

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [57]:
my_minmax_scaler = MinMaxScaler()
X_train_numerical_scaled = my_minmax_scaler.fit_transform(X_train_numerical)
X_test_numerical_scaled  = my_minmax_scaler.transform(X_test_numerical)
X_train_numerical_scaled_df = pd.DataFrame(X_train_numerical_scaled, columns=X_train_numerical.columns)
X_test_numerical_scaled_df = pd.DataFrame(X_test_numerical_scaled, columns=X_test_numerical.columns)

In [58]:
X_train_Assessor_Remarks_vectorized= count_vectorizer.fit_transform(X_train_Assessor_Remarks.values)
X_train_Assessor_Remarks_df = pd.DataFrame((X_train_Assessor_Remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_test_Assessor_Remarks_vectorized= count_vectorizer.fit_transform(X_test_Assessor_Remarks.values)
X_test_Assessor_Remarks_df= pd.DataFrame((X_test_Assessor_Remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_train_OPM_remarks_vectorized= count_vectorizer.transform(X_train_OPM_remarks.values)
X_train_OPM_remarks_df = pd.DataFrame((X_train_OPM_remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

X_test_OPM_remarks_vectorized= count_vectorizer.transform(X_test_OPM_remarks.values)
X_test_OPM_remarks_df = pd.DataFrame((X_test_OPM_remarks_vectorized).toarray(), columns=count_vectorizer.get_feature_names_out())

/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:409: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['le', 'u'] not in stop_words.
  warnings.warn(

KeyboardInterrupt:

In [ ]:
# Reset indexes
X_train_Assessor_Remarks_df = X_train_Assessor_Remarks_df.reset_index(drop=True)
X_train_OPM_remarks_df = X_train_OPM_remarks_df.reset_index(drop=True)
X_train_numerical_scaled_df = X_train_numerical_scaled_df.reset_index(drop=True)
X_train_to_encode = X_train_to_encode.reset_index(drop=True)

# Merge components
X_train_remarks_merged = pd.concat([X_train_Assessor_Remarks_df, X_train_OPM_remarks_df], axis=1)
X_train_all_merged = pd.concat([X_train_remarks_merged.reset_index(drop=True), X_train_numerical_scaled_df, X_train_to_encode], axis=1)

# Print the shape of the final merged data
print("Shape after merging all components:", X_train_all_merged.shape)

Shape after merging all components: (1400, 39)

In [ ]:
# Reset indexes
X_test_Assessor_Remarks_df = X_test_Assessor_Remarks_df.reset_index(drop=True)
X_test_OPM_remarks_df = X_test_OPM_remarks_df.reset_index(drop=True)
X_test_numerical_scaled_df = X_test_numerical_scaled_df.reset_index(drop=True)
X_test_to_encode = X_test_to_encode.reset_index(drop=True)

# Merge components
X_test_remarks_merged = pd.concat([X_test_Assessor_Remarks_df, X_test_OPM_remarks_df], axis=1)
X_test_all_merged = pd.concat([X_test_remarks_merged, X_test_numerical_scaled_df, X_test_to_encode], axis=1)

# Print the shape of the final merged data for test set
print("Shape after merging all components (test set):", X_test_all_merged.shape)

Shape after merging all components (test set): (600, 25)

In [ ]:
X_train_all_merged = pd.get_dummies(X_train_all_merged, columns=['List Year', 'Town','Residential Type', 'Non Use Code'])
X_train_all_merged.shape

X_test_all_merged = pd.get_dummies(X_test_all_merged, columns=['List Year', 'Town','Residential Type', 'Non Use Code'])
X_test_all_merged.shape

(600, 184)

In [ ]:
X_train_all_merged1 = X_train_all_merged.copy()


X_train_all_merged1 = X_train_all_merged1.dropna()

In [ ]:
X_train_all_merged.isna().sum().sum()

0

In [ ]:

X_withconstant = sm.add_constant(X_train_all_merged1)

In [ ]:

X_withconstant.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

# Perform regression
myregression = sm.OLS(y_train, X_withconstant)
myregression_results = myregression.fit()


# Print regression summary
print(myregression_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Sale Amount   R-squared:                       0.882
Model:                            OLS   Adj. R-squared:                  0.860
Method:                 Least Squares   F-statistic:                     40.24
Date:                Thu, 31 Aug 2023   Prob (F-statistic):               0.00
Time:                        14:00:38   Log-Likelihood:                -18763.
No. Observations:                1400   AIC:                         3.797e+04
Df Residuals:                    1180   BIC:                         3.912e+04
Df Model:                         219
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                          -4.314e+07   2.61e+07     -1.651      0.099   -9.44e+07    8.12e+06
construction                    4.902e+05   1.95e+05      2.508      0.012    1.07e+05    8.74e+05
deed                            8.088e+04   5.98e+04      1.353      0.176   -3.64e+04    1.98e+05
estate                          3.665e+04   5.16e+04      0.710      0.478   -6.47e+04    1.38e+05
family                          5.792e+05   9.41e+04      6.156      0.000    3.95e+05    7.64e+05
foreclosed                      -652.1103   7.73e+04     -0.008      0.993   -1.52e+05    1.51e+05
foreclosure                     9345.4303    5.6e+04      0.167      0.868   -1.01e+05    1.19e+05
home                            2.254e+05   1.86e+05      1.215      0.225   -1.39e+05    5.89e+05
house                           1.125e+05   7.37e+04      1.527      0.127   -3.21e+04    2.57e+05
leasehold                       2.153e+05   9.08e+04      2.372      0.018    3.73e+04    3.93e+05
market                          1.997e+04   5.37e+04      0.372      0.710   -8.54e+04    1.25e+05
mobile                         -2.047e+05   1.96e+05     -1.043      0.297    -5.9e+05     1.8e+05
na                              4.748e+04   2.43e+04      1.955      0.051    -166.063    9.51e+04
new                            -1.921e+05   1.82e+05     -1.058      0.290   -5.48e+05    1.64e+05
parcel                          -1.77e+04   8.71e+04     -0.203      0.839   -1.89e+05    1.53e+05
partial                        -1.871e+05   9.95e+04     -1.880      0.060   -3.82e+05    8124.679
property                       -3.484e+04   5.59e+04     -0.624      0.533   -1.44e+05    7.48e+04
ratio                          -7.735e+04   7.83e+04     -0.987      0.324   -2.31e+05    7.64e+04
related                         3.201e+04   1.04e+05      0.307      0.759   -1.73e+05    2.37e+05
sale                            4.898e+04   3.12e+04      1.570      0.117   -1.22e+04     1.1e+05
short                             2.9e+04   7.23e+04      0.401      0.688   -1.13e+05    1.71e+05
sold                            3.221e+05   5.97e+04      5.392      0.000    2.05e+05    4.39e+05
value                          -1.161e+05   7.84e+04     -1.480      0.139    -2.7e+05    3.78e+04
construction                   -2.302e+05   2.05e+05     -1.122      0.262   -6.33e+05    1.72e+05
estate                          4.705e-07   2.85e-07      1.651      0.099   -8.88e-08    1.03e-06
foreclosure                     4.678e-07   2.85e-07      1.643      0.101   -9.09e-08    1.03e-06
na                             -6.505e+04   6.72e+04     -0.968      0.333   -1.97e+05    6.68e+04
new                             2.557e+04   1.54e+05      0.166      0.868   -2.77e+05    3.28e+05
property                       -4.857e+04   1.91e+05     -0.255      0.799   -4.23e+05    3.26e+05
sale                           -1.469e+05   9.96e+04     -1.475      0.140   -3.42e+05    4.85e+04
sold                           -1.786e+05   1.44e+05     -1.241      0.215   -4.61e+05    1.04e+05
Assessed Value                  4.612e+06   1.02e+05     45.144      0.000    4.41e+06    4.81e+06
latitude                        1.158e+05   1.53e+05      0.759      0.448   -1.84e+05    4.15e+05
longitude                       -3.47e+04   1.61e+05     -0.215      0.830   -3.51e+05    2.82e+05
month_recorded                  3596.5395   2334.214      1.541      0.124    -983.134    8176.213
year_recorded                   2.824e+04   1.71e+04      1.653      0.099   -5270.469    6.17e+04
List Year_2006                 -2.585e+06   1.62e+06     -1.593      0.111   -5.77e+06    5.98e+05
List Year_2007                  -2.69e+06   1.64e+06     -1.641      0.101   -5.91e+06    5.26e+05
List Year_2008                 -2.731e+06   1.66e+06     -1.647      0.100   -5.98e+06    5.22e+05
List Year_2009                 -2.794e+06   1.67e+06     -1.670      0.095   -6.08e+06    4.88e+05
List Year_2010                 -2.804e+06   1.69e+06     -1.658      0.098   -6.12e+06    5.13e+05
List Year_2011                 -2.897e+06   1.71e+06     -1.697      0.090   -6.25e+06    4.53e+05
List Year_2012                 -2.863e+06   1.72e+06     -1.661      0.097   -6.24e+06    5.18e+05
List Year_2013                 -2.865e+06   1.74e+06     -1.645      0.100   -6.28e+06    5.53e+05
List Year_2014                 -2.935e+06   1.76e+06     -1.668      0.095   -6.39e+06    5.16e+05
List Year_2015                  -2.95e+06   1.78e+06     -1.661      0.097   -6.43e+06    5.34e+05
List Year_2016                  -2.97e+06   1.79e+06     -1.657      0.098   -6.49e+06    5.46e+05
List Year_2017                 -2.949e+06   1.81e+06     -1.630      0.103    -6.5e+06    6.01e+05
List Year_2018                 -3.021e+06   1.83e+06     -1.654      0.098   -6.61e+06    5.63e+05
List Year_2019                 -3.037e+06   1.85e+06     -1.646      0.100   -6.66e+06    5.83e+05
List Year_2020                 -3.047e+06   1.86e+06     -1.638      0.102    -6.7e+06    6.03e+05
Town_Andover                   -2.737e+05   2.54e+05     -1.078      0.281   -7.72e+05    2.24e+05
Town_Ansonia                   -3.339e+05   1.92e+05     -1.740      0.082   -7.11e+05    4.27e+04
Town_Ashford                   -2.522e+05   2.59e+05     -0.973      0.331   -7.61e+05    2.56e+05
Town_Avon                      -2.688e+05   1.92e+05     -1.400      0.162   -6.45e+05    1.08e+05
Town_Barkhamsted               -2.393e+05   2.62e+05     -0.913      0.361   -7.54e+05    2.75e+05
Town_Beacon Falls              -3.995e+05   2.54e+05     -1.574      0.116   -8.98e+05    9.86e+04
Town_Berlin                    -2.726e+05   1.84e+05     -1.481      0.139   -6.34e+05    8.85e+04
Town_Bethany                   -3.201e+05      2e+05     -1.601      0.110   -7.12e+05    7.22e+04
Town_Bethel                    -2.186e+05   1.99e+05     -1.101      0.271   -6.08e+05    1.71e+05
Town_Bethlehem                 -2.539e+05    2.2e+05     -1.152      0.250   -6.86e+05    1.79e+05
Town_Bloomfield                -3.641e+05   1.95e+05     -1.866      0.062   -7.47e+05    1.87e+04
Town_Bolton                    -3.038e+05   1.96e+05     -1.554      0.120   -6.87e+05    7.98e+04
Town_Bozrah                    -3.629e+05   2.58e+05     -1.407      0.160   -8.69e+05    1.43e+05
Town_Branford                  -3.596e+05   1.88e+05     -1.912      0.056   -7.29e+05    9443.084
Town_Bridgeport                -3.024e+05   1.91e+05     -1.584      0.113   -6.77e+05    7.21e+04
Town_Bristol                   -2.882e+05   1.84e+05     -1.567      0.117   -6.49e+05    7.26e+04
Town_Brookfield                -1.406e+05   1.97e+05     -0.714      0.475   -5.27e+05    2.46e+05
Town_Brooklyn                  -4.086e+05   2.07e+05     -1.974      0.049   -8.15e+05   -2538.147
Town_Burlington                -2.215e+05   2.01e+05     -1.100      0.272   -6.17e+05    1.74e+05
Town_Canterbury                -3.592e+05    2.2e+05     -1.631      0.103   -7.91e+05    7.29e+04
Town_Canton                    -2.193e+05   1.98e+05     -1.106      0.269   -6.08e+05     1.7e+05
Town_Cheshire                  -2.771e+05   1.86e+05     -1.492      0.136   -6.42e+05    8.73e+04
Town_Chester                    -3.75e+05   2.14e+05     -1.756      0.079   -7.94e+05    4.41e+04
Town_Clinton                   -4.213e+05   1.93e+05     -2.183      0.029      -8e+05   -4.27e+04
Town_Colchester                 -3.03e+05   1.87e+05     -1.622      0.105   -6.69e+05    6.35e+04
Town_Coventry                  -3.634e+05   2.07e+05     -1.756      0.079   -7.69e+05    4.25e+04
Town_Cromwell                  -3.265e+05   1.88e+05     -1.732      0.084   -6.96e+05    4.34e+04
Town_Danbury                   -1.954e+05   1.91e+05     -1.023      0.306    -5.7e+05    1.79e+05
Town_Darien                    -1.378e+05    2.1e+05     -0.658      0.511   -5.49e+05    2.73e+05
Town_Deep River                -3.989e+05   2.22e+05     -1.799      0.072   -8.34e+05    3.62e+04
Town_Derby                     -3.107e+05   1.94e+05     -1.599      0.110   -6.92e+05    7.06e+04
Town_East Granby               -3.013e+05   2.17e+05     -1.390      0.165   -7.27e+05    1.24e+05
Town_East Haddam               -3.355e+05   1.96e+05     -1.708      0.088   -7.21e+05    4.98e+04
Town_East Hampton               -3.13e+05   2.04e+05     -1.536      0.125   -7.13e+05    8.69e+04
Town_East Hartford             -3.045e+05   1.85e+05     -1.645      0.100   -6.68e+05    5.86e+04
Town_East Haven                -3.291e+05    1.9e+05     -1.733      0.083   -7.02e+05    4.35e+04
Town_East Lyme                 -3.921e+05   1.93e+05     -2.031      0.042   -7.71e+05   -1.33e+04
Town_East Windsor              -3.088e+05   1.95e+05     -1.584      0.113   -6.91e+05    7.36e+04
Town_Easton                     -1.51e+05   2.25e+05     -0.670      0.503   -5.93e+05    2.91e+05
Town_Ellington                 -2.685e+05   2.02e+05     -1.327      0.185   -6.66e+05    1.29e+05
Town_Enfield                   -3.041e+05   1.94e+05     -1.565      0.118   -6.85e+05     7.7e+04
Town_Essex                      -2.95e+05   2.14e+05     -1.379      0.168   -7.14e+05    1.25e+05
Town_Fairfield                 -2.252e+05   1.96e+05     -1.150      0.250   -6.09e+05    1.59e+05
Town_Farmington                -2.881e+05   1.89e+05     -1.523      0.128   -6.59e+05    8.32e+04
Town_Franklin                  -4.603e+05   2.73e+05     -1.687      0.092   -9.96e+05    7.49e+04
Town_Glastonbury               -3.249e+05   1.82e+05     -1.781      0.075   -6.83e+05    3.29e+04
Town_Goshen                    -3.778e+05    2.2e+05     -1.714      0.087    -8.1e+05    5.46e+04
Town_Granby                    -3.118e+05   2.01e+05     -1.552      0.121   -7.06e+05    8.24e+04
Town_Greenwich                 -4052.6906   2.09e+05     -0.019      0.985   -4.14e+05    4.06e+05
Town_Griswold                  -3.481e+05   1.93e+05     -1.803      0.072   -7.27e+05    3.07e+04
Town_Groton                    -3.606e+05   1.99e+05     -1.815      0.070    -7.5e+05    2.91e+04
Town_Guilford                  -2.902e+05   1.91e+05     -1.520      0.129   -6.65e+05    8.43e+04
Town_Haddam                    -2.881e+05   2.18e+05     -1.322      0.187   -7.16e+05     1.4e+05
Town_Hamden                    -3.596e+05   1.85e+05     -1.939      0.053   -7.24e+05    4302.112
Town_Hampton                   -3.319e+05   2.23e+05     -1.488      0.137   -7.69e+05    1.06e+05
Town_Hartford                  -2.724e+05   1.84e+05     -1.479      0.139   -6.34e+05     8.9e+04
Town_Harwinton                 -3.074e+05   2.53e+05     -1.213      0.225   -8.05e+05     1.9e+05
Town_Hebron                    -3.304e+05   2.18e+05     -1.515      0.130   -7.58e+05    9.76e+04
Town_Kent                      -1.931e+05   2.55e+05     -0.756      0.450   -6.94e+05    3.08e+05
Town_Killingly                 -3.521e+05   2.03e+05     -1.739      0.082   -7.49e+05    4.52e+04
Town_Killingworth              -3.814e+05   2.63e+05     -1.449      0.148   -8.98e+05    1.35e+05
Town_Lebanon                    -3.02e+05   2.26e+05     -1.338      0.181   -7.45e+05    1.41e+05
Town_Ledyard                   -3.807e+05   2.01e+05     -1.897      0.058   -7.74e+05     1.3e+04
Town_Litchfield                -3.155e+05      2e+05     -1.574      0.116   -7.09e+05    7.78e+04
Town_Madison                   -2.788e+05   1.93e+05     -1.444      0.149   -6.58e+05       1e+05
Town_Manchester                -3.271e+05   1.83e+05     -1.787      0.074   -6.86e+05    3.21e+04
Town_Mansfield                 -3.733e+05   1.95e+05     -1.911      0.056   -7.57e+05       1e+04
Town_Marlborough               -3.374e+05   2.54e+05     -1.330      0.184   -8.35e+05     1.6e+05
Town_Meriden                   -3.016e+05   1.81e+05     -1.666      0.096   -6.57e+05    5.36e+04
Town_Middlebury                -2.444e+05    2.1e+05     -1.162      0.246   -6.57e+05    1.68e+05
Town_Middletown                -3.133e+05   1.83e+05     -1.710      0.088   -6.73e+05    4.62e+04
Town_Milford                   -3.156e+05   1.92e+05     -1.645      0.100   -6.92e+05    6.07e+04
Town_Monroe                    -2.748e+05   1.93e+05     -1.425      0.154   -6.53e+05    1.03e+05
Town_Montville                 -4.049e+05   2.05e+05     -1.977      0.048   -8.07e+05   -3175.461
Town_Naugatuck                 -3.334e+05   1.85e+05     -1.803      0.072   -6.96e+05    2.94e+04
Town_New Britain               -2.972e+05   1.81e+05     -1.643      0.101   -6.52e+05    5.76e+04
Town_New Canaan                 3.438e+05   2.04e+05      1.682      0.093   -5.71e+04    7.45e+05
Town_New Fairfield              -2.14e+05   1.95e+05     -1.096      0.273   -5.97e+05    1.69e+05
Town_New Hartford               -2.51e+05   2.26e+05     -1.113      0.266   -6.94e+05    1.92e+05
Town_New Haven                 -2.951e+05   1.86e+05     -1.590      0.112   -6.59e+05     6.9e+04
Town_New London                -1.361e+05   2.01e+05     -0.677      0.498    -5.3e+05    2.58e+05
Town_New Milford               -2.938e+05   1.93e+05     -1.519      0.129   -6.73e+05    8.56e+04
Town_Newington                 -2.991e+05   1.84e+05     -1.624      0.105    -6.6e+05    6.22e+04
Town_Newtown                   -2.908e+05   1.94e+05     -1.501      0.134   -6.71e+05    8.93e+04
Town_North Branford            -2.999e+05    2.1e+05     -1.431      0.153   -7.11e+05    1.11e+05
Town_North Canaan              -3.102e+05   2.65e+05     -1.173      0.241   -8.29e+05    2.09e+05
Town_North Haven               -3.151e+05    1.9e+05     -1.661      0.097   -6.87e+05    5.71e+04
Town_North Stonington          -3.884e+05   2.18e+05     -1.781      0.075   -8.16e+05    3.94e+04
Town_Norwalk                   -1.931e+05   1.97e+05     -0.978      0.328    -5.8e+05    1.94e+05
Town_Norwich                    -3.99e+05   1.91e+05     -2.089      0.037   -7.74e+05   -2.43e+04
Town_Old Lyme                   -6.28e+05   2.04e+05     -3.078      0.002   -1.03e+06   -2.28e+05
Town_Old Saybrook              -3.972e+05   2.29e+05     -1.731      0.084   -8.47e+05    5.29e+04
Town_Orange                    -2.139e+05   1.93e+05     -1.108      0.268   -5.93e+05    1.65e+05
Town_Oxford                    -2.722e+05   2.49e+05     -1.092      0.275   -7.61e+05    2.17e+05
Town_Plainfield                -3.595e+05   1.99e+05     -1.808      0.071   -7.49e+05    3.05e+04
Town_Plainville                -3.273e+05   1.86e+05     -1.758      0.079   -6.93e+05     3.8e+04
Town_Plymouth                  -3.478e+05   2.08e+05     -1.676      0.094   -7.55e+05    5.94e+04
Town_Portland                  -3.334e+05   2.47e+05     -1.349      0.177   -8.18e+05    1.51e+05
Town_Prospect                  -2.439e+05   2.28e+05     -1.071      0.284   -6.91e+05    2.03e+05
Town_Putnam                    -3.142e+05    2.1e+05     -1.494      0.135   -7.27e+05    9.84e+04
Town_Redding                   -2.587e+05   2.51e+05     -1.033      0.302    -7.5e+05    2.33e+05
Town_Ridgefield                -2.368e+05   1.95e+05     -1.216      0.224   -6.19e+05    1.45e+05
Town_Rocky Hill                 -3.15e+05   1.88e+05     -1.673      0.095   -6.84e+05    5.44e+04
Town_Salem                      -3.17e+05   2.52e+05     -1.259      0.208   -8.11e+05    1.77e+05
Town_Scotland                  -3.234e+05   2.53e+05     -1.279      0.201   -8.19e+05    1.73e+05
Town_Seymour                   -2.995e+05   1.98e+05     -1.516      0.130   -6.87e+05    8.81e+04
Town_Sharon                    -8.478e+04   2.63e+05     -0.323      0.747      -6e+05    4.31e+05
Town_Shelton                   -2.946e+05   1.88e+05     -1.571      0.116   -6.63e+05    7.33e+04
Town_Simsbury                   -2.72e+05   1.96e+05     -1.391      0.164   -6.56e+05    1.12e+05
Town_Somers                    -2.857e+05   2.29e+05     -1.248      0.212   -7.35e+05    1.63e+05
Town_South Windsor             -3.191e+05   1.89e+05     -1.686      0.092    -6.9e+05    5.22e+04
Town_Southbury                 -2.585e+05   1.92e+05     -1.348      0.178   -6.35e+05    1.18e+05
Town_Southington               -2.756e+05   1.84e+05     -1.498      0.134   -6.37e+05    8.54e+04
Town_Sprague                   -2.841e+05   2.57e+05     -1.107      0.269   -7.88e+05     2.2e+05
Town_Stafford                  -3.892e+05   2.08e+05     -1.867      0.062   -7.98e+05    1.97e+04
Town_Stamford                  -2.012e+05   2.01e+05     -0.999      0.318   -5.96e+05    1.94e+05
Town_Sterling                  -2.599e+05   2.64e+05     -0.983      0.326   -7.79e+05    2.59e+05
Town_Stonington                -3.157e+05   2.03e+05     -1.556      0.120   -7.14e+05    8.24e+04
Town_Stratford                 -2.908e+05   1.91e+05     -1.524      0.128   -6.65e+05    8.36e+04
Town_Suffield                  -3.191e+05   2.07e+05     -1.543      0.123   -7.25e+05    8.66e+04
Town_Thomaston                 -3.516e+05   2.03e+05     -1.734      0.083    -7.5e+05    4.63e+04
Town_Thompson                  -4.005e+05   2.08e+05     -1.921      0.055    -8.1e+05    8567.118
Town_Tolland                   -3.344e+05   1.98e+05     -1.686      0.092   -7.24e+05    5.48e+04
Town_Torrington                -2.938e+05   1.91e+05     -1.538      0.124   -6.68e+05     8.1e+04
Town_Trumbull                  -2.853e+05    1.9e+05     -1.502      0.133   -6.58e+05    8.73e+04
Town_Vernon                     -3.39e+05   1.88e+05     -1.804      0.071   -7.08e+05    2.97e+04
Town_Wallingford               -3.218e+05   1.84e+05     -1.746      0.081   -6.83e+05    3.97e+04
Town_Washington                 -2.31e+05   2.52e+05     -0.918      0.359   -7.25e+05    2.63e+05
Town_Waterbury                 -2.902e+05   1.82e+05     -1.599      0.110   -6.46e+05    6.59e+04
Town_Waterford                 -3.167e+05      2e+05     -1.583      0.114   -7.09e+05    7.58e+04
Town_Watertown                 -2.982e+05   1.92e+05     -1.553      0.121   -6.75e+05    7.85e+04
Town_West Hartford             -3.027e+05   1.82e+05     -1.659      0.097   -6.61e+05    5.52e+04
Town_West Haven                -3.247e+05   1.91e+05     -1.703      0.089   -6.99e+05    4.94e+04
Town_Westbrook                 -2.739e+05   2.07e+05     -1.322      0.187   -6.81e+05    1.33e+05
Town_Weston                    -1.024e+05   2.16e+05     -0.474      0.636   -5.26e+05    3.22e+05
Town_Westport                  -1.998e+05      2e+05     -0.999      0.318   -5.92e+05    1.92e+05
Town_Wethersfield              -2.944e+05   1.85e+05     -1.593      0.112   -6.57e+05    6.83e+04
Town_Willington                -3.267e+05   2.23e+05     -1.465      0.143   -7.64e+05    1.11e+05
Town_Wilton                     1.611e+05   2.05e+05      0.786      0.432   -2.41e+05    5.63e+05
Town_Winchester                -2.201e+05   2.18e+05     -1.010      0.313   -6.47e+05    2.07e+05

In [ ]:

X_withconstant.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

# Perform regression
myregression = sm.OLS(y_train, X_withconstant)
myregression_results = myregression.fit()


# Print regression summary
print(myregression_results.summary())

ValueError: The indices for endog and exog are not aligned

In [ ]:
X_withconstant = sm.add_constant(X_test_all_merged)
X_withconstant.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

# Perform regression
testregression = sm.OLS(y_test, X_withconstant)
testregression_results = testregression.fit()

# Print regression summary
print(testregression_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Sale Amount   R-squared:                       0.717
Model:                            OLS   Adj. R-squared:                  0.600
Method:                 Least Squares   F-statistic:                     6.125
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           1.65e-52
Time:                        14:00:38   Log-Likelihood:                -8412.7
No. Observations:                 600   AIC:                         1.718e+04
Df Residuals:                     424   BIC:                         1.795e+04
Df Model:                         175
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                          -1.073e+08   8.66e+07     -1.239      0.216   -2.78e+08     6.3e+07
construction                    1.126e+05   3.35e+05      0.336      0.737   -5.46e+05    7.71e+05
estate                         -3.293e+04   1.45e+05     -0.228      0.820   -3.17e+05    2.51e+05
foreclosure                     1.437e+05   1.65e+05      0.869      0.386   -1.81e+05    4.69e+05
na                              8.736e+04   8.58e+04      1.018      0.309   -8.12e+04    2.56e+05
new                             3.076e+05   3.07e+05      1.001      0.317   -2.96e+05    9.12e+05
property                        1.598e+05   2.08e+05      0.769      0.442   -2.49e+05    5.68e+05
sale                           -7103.8819   1.04e+05     -0.068      0.946   -2.12e+05    1.98e+05
sold                            2.349e+05   1.69e+05      1.391      0.165    -9.7e+04    5.67e+05
construction                    1.383e-05   1.12e-05      1.239      0.216   -8.11e-06    3.58e-05
estate                         -1.795e+05    4.4e+05     -0.408      0.683   -1.04e+06    6.85e+05
foreclosure                     4.613e-06   3.72e-06      1.239      0.216   -2.71e-06    1.19e-05
na                             -1.036e+05   1.71e+05     -0.607      0.544   -4.39e+05    2.32e+05
new                             6.514e-06   5.26e-06      1.239      0.216   -3.82e-06    1.68e-05
property                       -1.287e-06   1.04e-06     -1.236      0.217   -3.34e-06     7.6e-07
sale                           -1.733e+04   2.55e+05     -0.068      0.946   -5.18e+05    4.83e+05
sold                           -4.031e-06   3.25e-06     -1.239      0.216   -1.04e-05    2.36e-06
Assessed Value                  2.509e+06   1.77e+05     14.138      0.000    2.16e+06    2.86e+06
latitude                       -1.419e+04   7.26e+05     -0.020      0.984   -1.44e+06    1.41e+06
longitude                      -5.963e+05   6.32e+05     -0.943      0.346   -1.84e+06    6.47e+05
month_recorded                  3669.9901   7615.618      0.482      0.630   -1.13e+04    1.86e+04
year_recorded                   7.187e+04   5.79e+04      1.242      0.215   -4.19e+04    1.86e+05
List Year_2006                 -6.681e+06   5.37e+06     -1.244      0.214   -1.72e+07    3.88e+06
List Year_2007                 -6.391e+06   5.43e+06     -1.178      0.240   -1.71e+07    4.27e+06
List Year_2008                 -6.782e+06   5.48e+06     -1.237      0.217   -1.76e+07    3.99e+06
List Year_2009                 -6.887e+06   5.54e+06     -1.242      0.215   -1.78e+07    4.01e+06
List Year_2010                 -6.987e+06   5.61e+06     -1.247      0.213    -1.8e+07    4.03e+06
List Year_2011                 -6.977e+06   5.66e+06     -1.232      0.218   -1.81e+07    4.15e+06
List Year_2012                 -7.064e+06   5.73e+06     -1.234      0.218   -1.83e+07    4.19e+06
List Year_2013                 -7.336e+06   5.78e+06     -1.270      0.205   -1.87e+07    4.02e+06
List Year_2014                 -7.302e+06   5.83e+06     -1.252      0.211   -1.88e+07    4.16e+06
List Year_2015                 -7.317e+06    5.9e+06     -1.241      0.215   -1.89e+07    4.27e+06
List Year_2016                  -7.36e+06   5.95e+06     -1.237      0.217   -1.91e+07    4.34e+06
List Year_2017                 -7.521e+06      6e+06     -1.252      0.211   -1.93e+07    4.28e+06
List Year_2018                  -7.53e+06   6.06e+06     -1.242      0.215   -1.94e+07    4.39e+06
List Year_2019                 -7.606e+06   6.13e+06     -1.241      0.215   -1.96e+07    4.44e+06
List Year_2020                 -7.592e+06   6.18e+06     -1.229      0.220   -1.97e+07    4.55e+06
Town_Andover                   -6.634e+05   7.84e+05     -0.846      0.398    -2.2e+06    8.78e+05
Town_Ashford                    -7.36e+05   7.58e+05     -0.970      0.332   -2.23e+06    7.55e+05
Town_Avon                      -7.323e+05   7.45e+05     -0.983      0.326    -2.2e+06    7.33e+05
Town_Beacon Falls               -6.84e+05   7.51e+05     -0.911      0.363   -2.16e+06    7.92e+05
Town_Berlin                    -1.368e+06   7.07e+05     -1.935      0.054   -2.76e+06    2.19e+04
Town_Bethel                    -8.903e+05   7.51e+05     -1.186      0.236   -2.37e+06    5.86e+05
Town_Bloomfield                -7.981e+05   7.23e+05     -1.105      0.270   -2.22e+06    6.22e+05
Town_Bolton                    -7.225e+05   7.45e+05     -0.969      0.333   -2.19e+06    7.42e+05
Town_Bozrah                    -8.882e+05   7.91e+05     -1.123      0.262   -2.44e+06    6.66e+05
Town_Branford                  -9.205e+05   6.92e+05     -1.330      0.184   -2.28e+06     4.4e+05
Town_Bridgeport                -1.269e+06   6.92e+05     -1.835      0.067   -2.63e+06    9.05e+04
Town_Bristol                   -8.476e+05      7e+05     -1.210      0.227   -2.22e+06    5.29e+05
Town_Brookfield                -8.194e+05   7.43e+05     -1.103      0.271   -2.28e+06    6.41e+05
Town_Canaan                    -6.606e+05    9.3e+05     -0.710      0.478   -2.49e+06    1.17e+06
Town_Canterbury                -8.477e+05   8.24e+05     -1.028      0.304   -2.47e+06    7.72e+05
Town_Canton                    -6.802e+05   7.57e+05     -0.899      0.369   -2.17e+06    8.08e+05
Town_Chaplin                   -7.848e+05   7.79e+05     -1.008      0.314   -2.32e+06    7.46e+05
Town_Cheshire                  -8.445e+05   6.83e+05     -1.236      0.217   -2.19e+06    4.98e+05
Town_Clinton                   -1.155e+06   7.16e+05     -1.613      0.107   -2.56e+06    2.52e+05
Town_Colchester                -8.734e+05   7.28e+05     -1.199      0.231    -2.3e+06    5.58e+05
Town_Columbia                  -7.087e+05   7.75e+05     -0.915      0.361   -2.23e+06    8.14e+05
Town_Cornwall                    -7.2e+05   8.56e+05     -0.841      0.401    -2.4e+06    9.63e+05
Town_Coventry                   -8.07e+05   7.83e+05     -1.031      0.303   -2.35e+06    7.32e+05
Town_Cromwell                  -9.077e+05   6.95e+05     -1.306      0.192   -2.27e+06    4.58e+05
Town_Danbury                   -7.726e+05   7.28e+05     -1.061      0.289    -2.2e+06    6.59e+05
Town_Darien                    -7.975e+05   7.43e+05     -1.073      0.284   -2.26e+06    6.63e+05
Town_Derby                     -1.152e+06   7.06e+05     -1.632      0.103   -2.54e+06    2.35e+05
Town_East Granby               -5.876e+05   8.45e+05     -0.695      0.487   -2.25e+06    1.07e+06
Town_East Haddam               -9.255e+05   7.04e+05     -1.315      0.189   -2.31e+06    4.58e+05
Town_East Hampton              -9.478e+05    7.1e+05     -1.335      0.183   -2.34e+06    4.48e+05
Town_East Hartford             -8.605e+05   7.04e+05     -1.222      0.222   -2.24e+06    5.23e+05
Town_East Haven                -1.286e+06   7.12e+05     -1.806      0.072   -2.69e+06    1.13e+05
Town_East Lyme                 -9.163e+05   7.32e+05     -1.252      0.211   -2.36e+06    5.23e+05
Town_East Windsor              -6.743e+05   7.76e+05     -0.869      0.386    -2.2e+06    8.52e+05
Town_Eastford                  -7.329e+05   8.24e+05     -0.889      0.374   -2.35e+06    8.87e+05
Town_Easton                    -8.849e+05   7.32e+05     -1.208      0.228   -2.32e+06    5.54e+05
Town_Enfield                   -6.645e+05   7.59e+05     -0.876      0.382   -2.16e+06    8.27e+05
Town_Essex                     -9.655e+05    7.2e+05     -1.340      0.181   -2.38e+06     4.5e+05
Town_Fairfield                 -1.002e+06   7.15e+05     -1.400      0.162   -2.41e+06    4.04e+05
Town_Farmington                -6.821e+05   7.11e+05     -0.960      0.338   -2.08e+06    7.15e+05
Town_Glastonbury               -5.181e+05   7.24e+05     -0.716      0.475   -1.94e+06    9.05e+05
Town_Goshen                    -5.416e+05   8.65e+05     -0.626      0.532   -2.24e+06    1.16e+06
Town_Granby                    -5.388e+05   7.82e+05     -0.689      0.491   -2.08e+06    9.98e+05
Town_Greenwich                  4.549e+05   7.53e+05      0.604      0.546   -1.02e+06    1.93e+06
Town_Griswold                  -9.264e+05   7.19e+05     -1.289      0.198   -2.34e+06    4.86e+05
Town_Groton                    -1.035e+06   7.65e+05     -1.352      0.177   -2.54e+06     4.7e+05
Town_Guilford                  -1.053e+06    7.1e+05     -1.482      0.139   -2.45e+06    3.44e+05
Town_Haddam                    -7.834e+05   7.78e+05     -1.007      0.314   -2.31e+06    7.45e+05
Town_Hamden                    -9.882e+05   6.98e+05     -1.416      0.158   -2.36e+06    3.84e+05
Town_Hartford                  -7.122e+05   6.98e+05     -1.020      0.308   -2.08e+06     6.6e+05
Town_Hebron                    -8.453e+05   7.73e+05     -1.094      0.275   -2.36e+06    6.74e+05
Town_Killingly                 -7.723e+05   7.61e+05     -1.015      0.311   -2.27e+06    7.23e+05
Town_Lebanon                   -1.051e+06   7.28e+05     -1.444      0.149   -2.48e+06     3.8e+05
Town_Ledyard                   -1.021e+06   7.51e+05     -1.359      0.175    -2.5e+06    4.56e+05
Town_Litchfield                -7.571e+05   7.56e+05     -1.001      0.317   -2.24e+06     7.3e+05
Town_Lyme                      -9.517e+05   8.04e+05     -1.183      0.237   -2.53e+06    6.29e+05
Town_Madison                   -8.023e+05   6.95e+05     -1.154      0.249   -2.17e+06    5.64e+05
Town_Manchester                -7.878e+05   7.01e+05     -1.123      0.262   -2.17e+06    5.91e+05
Town_Mansfield                 -8.046e+05   7.65e+05     -1.052      0.293   -2.31e+06    6.99e+05
Town_Meriden                   -9.883e+05    6.8e+05     -1.454      0.147   -2.32e+06    3.48e+05
Town_Middlebury                -7.139e+05   7.36e+05     -0.970      0.333   -2.16e+06    7.33e+05
Town_Middlefield               -9.713e+05   7.83e+05     -1.241      0.215   -2.51e+06    5.67e+05
Town_Middletown                -8.758e+05   6.88e+05     -1.274      0.203   -2.23e+06    4.76e+05
Town_Milford                   -9.643e+05    6.9e+05     -1.397      0.163   -2.32e+06    3.92e+05
Town_Monroe                    -9.354e+05   7.33e+05     -1.277      0.202   -2.38e+06    5.05e+05
Town_Montville                     -1e+06   7.55e+05     -1.325      0.186   -2.48e+06    4.83e+05
Town_Morris                    -9.997e+05   8.17e+05     -1.223      0.222   -2.61e+06    6.07e+05
Town_Naugatuck                 -1.003e+06   6.94e+05     -1.445      0.149   -2.37e+06    3.61e+05
Town_New Britain                -8.65e+05   6.91e+05     -1.251      0.212   -2.22e+06    4.94e+05
Town_New Canaan                -6.608e+05   7.45e+05     -0.887      0.376   -2.13e+06    8.04e+05
Town_New Fairfield             -5.771e+05   8.18e+05     -0.706      0.481   -2.18e+06    1.03e+06
Town_New Hartford               -6.87e+05   7.94e+05     -0.865      0.387   -2.25e+06    8.74e+05
Town_New Haven                 -1.092e+06    6.8e+05     -1.606      0.109   -2.43e+06    2.44e+05
Town_New London                -9.057e+05   7.42e+05     -1.221      0.223   -2.36e+06    5.53e+05
Town_New Milford               -8.532e+05   7.56e+05     -1.128      0.260   -2.34e+06    6.33e+05
Town_Newington                 -8.241e+05   7.08e+05     -1.164      0.245   -2.22e+06    5.67e+05
Town_Newtown                   -8.462e+05   7.09e+05     -1.193      0.234   -2.24e+06    5.48e+05
Town_North Branford            -8.824e+05   7.53e+05     -1.171      0.242   -2.36e+06    5.99e+05
Town_North Haven               -6.529e+05   7.02e+05     -0.930      0.353   -2.03e+06    7.26e+05
Town_Norwalk                   -8.921e+05   7.24e+05     -1.232      0.219   -2.32e+06    5.31e+05
Town_Norwich                   -9.504e+05    7.2e+05     -1.321      0.187   -2.36e+06    4.64e+05
Town_Old Lyme                  -8.609e+05   7.85e+05     -1.096      0.274    -2.4e+06    6.83e+05
Town_Old Saybrook              -1.195e+06   7.43e+05     -1.609      0.108   -2.66e+06    2.65e+05
Town_Oxford                    -3.792e+05    7.6e+05     -0.499      0.618   -1.87e+06    1.11e+06
Town_Plainfield                -7.318e+05   7.53e+05     -0.972      0.332   -2.21e+06    7.48e+05
Town_Plainville                -5.963e+05    7.3e+05     -0.817      0.414   -2.03e+06    8.38e+05
Town_Plymouth                  -8.794e+05   7.53e+05     -1.168      0.243   -2.36e+06       6e+05
Town_Portland                  -8.173e+05   7.21e+05     -1.133      0.258   -2.23e+06       6e+05
Town_Putnam                     -7.63e+05   8.11e+05     -0.940      0.348   -2.36e+06    8.32e+05
Town_Redding                   -8.732e+05   7.68e+05     -1.137      0.256   -2.38e+06    6.36e+05
Town_Ridgefield                -6.275e+05   7.44e+05     -0.843      0.400   -2.09e+06    8.36e+05
Town_Rocky Hill                -6.033e+05   6.92e+05     -0.872      0.384   -1.96e+06    7.57e+05
Town_Salem                     -8.517e+05   7.92e+05     -1.075      0.283   -2.41e+06    7.05e+05
Town_Seymour                   -1.003e+06    7.4e+05     -1.355      0.176   -2.46e+06    4.52e+05
Town_Sharon                    -7.061e+05   8.71e+05     -0.810      0.418   -2.42e+06    1.01e+06
Town_Shelton                   -1.026e+06   6.93e+05     -1.482      0.139   -2.39e+06    3.35e+05
Town_Simsbury                  -5.555e+05    7.4e+05     -0.750      0.454   -2.01e+06       9e+05
Town_South Windsor             -7.503e+05   7.22e+05     -1.039      0.299   -2.17e+06    6.69e+05
Town_Southbury                 -8.755e+05   7.13e+05     -1.228      0.220   -2.28e+06    5.26e+05
Town_Southington               -9.172e+05   6.97e+05     -1.317      0.189   -2.29e+06    4.52e+05
Town_Sprague                   -8.319e+05   7.84e+05     -1.062      0.289   -2.37e+06    7.08e+05
Town_Stafford                   -5.87e+05   8.28e+05     -0.709      0.479   -2.21e+06    1.04e+06
Town_Stamford                  -9.787e+05   7.35e+05     -1.331      0.184   -2.42e+06    4.66e+05
Town_Stonington                 -1.07e+06   7.85e+05     -1.363      0.174   -2.61e+06    4.73e+05
Town_Stratford                 -1.123e+06      7e+05     -1.603      0.110    -2.5e+06    2.54e+05
Town_Suffield                  -7.379e+04   8.51e+05     -0.087      0.931   -1.75e+06     1.6e+06
Town_Thomaston                 -8.789e+05   7.42e+05     -1.184      0.237   -2.34e+06     5.8e+05
Town_Thompson                  -7.168e+05   8.25e+05     -0.869      0.385   -2.34e+06    9.05e+05
Town_Tolland                   -7.498e+05   7.58e+05     -0.989      0.323   -2.24e+06     7.4e+05
Town_Torrington                -8.344e+05    7.5e+05     -1.113      0.266   -2.31e+06    6.39e+05
Town_Trumbull                   -1.02e+06   7.07e+05     -1.443      0.150   -2.41e+06     3.7e+05
Town_Vernon                    -7.322e+05    7.1e+05     -1.032      0.303   -2.13e+06    6.63e+05
Town_Voluntown                 -9.046e+05   7.99e+05     -1.131      0.258   -2.48e+06    6.67e+05
Town_Wallingford               -8.747e+05   6.79e+05     -1.288      0.198   -2.21e+06     4.6e+05
Town_Waterbury                  -8.77e+05   6.89e+05     -1.273      0.204   -2.23e+06    4.77e+05
Town_Waterford                 -8.337e+05   7.93e+05     -1.051      0.294   -2.39e+06    7.25e+05
Town_Watertown                 -1.154e+06   7.94e+05     -1.454      0.147   -2.71e+06    4.06e+05
Town_West Hartford             -7.909e+05   6.98e+05     -1.133      0.258   -2.16e+06    5.82e+05
Town_West Haven                -1.034e+06    6.9e+05     -1.499      0.135   -2.39e+06    3.22e+05
Town_Westport                  -6.241e+05   7.42e+05     -0.842      0.401   -2.08e+06    8.34e+05
Town_Wethersfield              -8.174e+05   6.94e+05     -1.178      0.239   -2.18e+06    5.46e+05
Town_Wilton                    -8.749e+05   7.88e+05     -1.110      0.268   -2.42e+06    6.74e+05
Town_Winchester                -6.103e+05   7.88e+05     -0.775      0.439   -2.16e+06    9.38e+05
Town_Windham                   -9.862e+05   7.21e+05     -1.369      0.172    -2.4e+06     4.3e+05
Town_Windsor                   -8.578e+05    7.4e+05     -1.159      0.247   -2.31e+06    5.97e+05
Town_Wolcott                   -9.939e+05   7.54e+05     -1.319      0.188   -2.48e+06    4.87e+05
Town_Woodbridge                -9.788e+05    7.5e+05     -1.306      0.192   -2.45e+06    4.95e+05
Town_Woodbury                  -1.044e+06   7.41e+05     -1.409      0.160    -2.5e+06    4.13e+05
Town_Woodstock                 -7.101e+05   7.85e+05     -0.905      0.366   -2.25e+06    8.32e+05
Residential Type_Condo         -2.157e+07   1.73e+07     -1.245      0.214   -5.56e+07    1.25e+07
Residential Type_Four Family   -2.151e+07   1.73e+07     -1.241      0.215   -5.56e+07    1.26e+07
Residential Type_Single Family -2.139e+07   1.73e+07     -1.235      0.217   -5.54e+07    1.27e+07
Residential Type_Three Family   -2.14e+07   1.73e+07     -1.235      0.218   -5.55e+07    1.27e+07
Residential Type_Two Family    -2.146e+07   1.73e+07     -1.238      0.216   -5.55e+07    1.26e+07
Non Use Code_1.0               -7.933e+06   6.19e+06     -1.281      0.201   -2.01e+07    4.24e+06
Non Use Code_7.0               -7.605e+06   6.18e+06     -1.230      0.219   -1.98e+07    4.55e+06
Non Use Code_8.0               -7.552e+06   6.19e+06     -1.220      0.223   -1.97e+07    4.62e+06
Non Use Code_10.0              -7.512e+06    6.2e+06     -1.212      0.226   -1.97e+07    4.67e+06
Non Use Code_11.0              -7.493e+06    6.2e+06     -1.209      0.227   -1.97e+07    4.69e+06
Non Use Code_13.0              -7.611e+06    6.2e+06     -1.228      0.220   -1.98e+07    4.57e+06
Non Use Code_14.0              -7.504e+06   6.19e+06     -1.213      0.226   -1.97e+07    4.66e+06
Non Use Code_15.0              -8.716e+06   6.21e+06     -1.403      0.161   -2.09e+07     3.5e+06
Non Use Code_16.0              -7.715e+06   6.22e+06     -1.240      0.216   -1.99e+07    4.51e+06
Non Use Code_17.0              -7.864e+06   6.19e+06     -1.269      0.205      -2e+07    4.31e+06
Non Use Code_18.0               -7.51e+06    6.2e+06     -1.212      0.226   -1.97e+07    4.67e+06
Non Use Code_22.0              -7.367e+06   6.18e+06     -1.192      0.234   -1.95e+07    4.78e+06
Non Use Code_25.0              -7.515e+06   6.18e+06     -1.216      0.225   -1.97e+07    4.63e+06
Non Use Code_na                -7.436e+06   6.19e+06     -1.202      0.230   -1.96e+07    4.73e+06
==============================================================================
Omnibus:                      440.722   Durbin-Watson:                   2.092
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            81497.579
Skew:                           2.244   Prob(JB):                         0.00
Kurtosis:                      59.919   Cond. No.                     4.42e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
stemmer = nltk.stem.PorterStemmer()
count_vectorizer = CountVectorizer(
    tokenizer= custom_tokenizer,
    stop_words='english', 
    min_df=5,
    max_features=1000
)
nltk.download('wordnet')

nltk.download('omw-1.4')

#TF-IDF

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/haesunjung/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
# estimators
# note that all the planned steps must be included, but the second elements in each tuple are more like placeholders
estimators = [
    ('scaling', StandardScaler()),
    ('reduce_dim', PCA()),
    ('model', LinearRegression())
]

# instantiate pipeline with the specified steps
pipe = Pipeline(estimators)

# define parameter grid
param_grid = [
    
    # logistic regression with L1 regularization
    {
        'scaling': [RobustScaler()],
        'reduce_dim': [PCA()],
        'reduce_dim__n_components': [10],
        'model': [LinearRegression()],
        'model__n_jobs': np.logspace(-3, 3, 7),
        #'model__random_state': [1]
    },

]

# instantiate cross-validated grid search object with the steps and parameter grid
grid = GridSearchCV(
    estimator = pipe,
    param_grid = param_grid,
    #cv = 2,
    #verbose = 2,
    #n_jobs = -1
)

# fit the grid to the unprocessed training data
grid.fit(X_train_all_merged, y_train);

ValueError:
All the 35 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 0.001 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 0.01 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 0.1 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 1.0 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 10.0 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 100.0 instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/pipeline.py", line 405, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_base.py", line 642, in fit
    self._validate_params()
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/Users/haesunjung/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_jobs' parameter of LinearRegression must be None or an instance of 'int'. Got 1000.0 instead.

In [ ]:
train_scores = []
test_scores = []

ks = list(range(10, 100, 10))

for k in ks: 
    my_KBest = SelectKBest(f_regression, k=k).fit(X_train_all_merged, y_train)
    
    X_train_selected = my_KBest.transform(X_train_all_merged)
    X_test_selected = my_KBest.transform(X_test_all_merged)
    
    model = LinearRegression()
    model.fit(X_train_selected, y_train)
    
    print(f"K = {X_train_all_merged.columns[my_KBest.get_support()]}")

    train_scores.append(model.score(X_train_selected, y_train))
    test_scores.append(model.score(X_test_selected, y_test))

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- 00019800
- 00023700
- 00024900
- 0003028
- 0003029
- ...
Feature names seen at fit time, yet now missing:
- 00018700
- 00046600
- 00051600
- 00069700
- 00070300
- ...

In [ ]:
for column in (real_estate.columns):
    if (real_estate_nonull[column].isna().sum())== 0:
        pass
        #print (column, " passed")
    else:
        nunique_values = real_estate[column].nunique()
        unique_values = real_estate[column].unique()
        value_counts = real_estate[column].value_counts()
        print(f"The column name is {column}")
        print(f"The total number of unique values are: {nunique_values}")
        print(f"The value counts are: {value_counts}")

KeyError: 'Serial Number'

Findings:
   - `Date` column can be changed to DateTime format
   - `Date Recorded`, `Town`, `Address`, `Assessed Value`, `Sale Amount`, `Sale Ratio` have very few missing values.
   - Address has 51 missingcolumns.
   - About 1/3 of rows missing in `Property Type` and `Residential Type`.
   - About 20% of the data has `Location` or longitude and latitude.

In [ ]:
corr_df = X_train.corr()
mask = np.triu(corr_df)
plt.figure(figsize=(20,20))
sns.heatmap(corr_df.round(2), annot=True,mask=mask, vmin=-1, vmax=1, cmap='coolwarm')
plt.show()

KeyboardInterrupt:

Error in callback <function flush_figures at 0x1582f71a0> (for post_execute):

KeyboardInterrupt:

Findings:
   - `Assessed Value` and `Sale Amount` is weakly correlated (r=0.11).

In the `OPM remarks`, it is stated that an *INCORRECT SALE PRICE* is inserted. So this row will be deleted and will investigate if other rows have the same comment.

In [ ]:
file_path = '../Datasets/mortgage.csv'

mortgage=pd.read_csv(file_path)
mortgage

            DATE  MORTGAGE30US
0     1971-04-02          7.33
1     1971-04-09          7.31
2     1971-04-16          7.31
3     1971-04-23          7.31
4     1971-04-30          7.29
...          ...           ...
2728  2023-07-13          6.96
2729  2023-07-20          6.78
2730  2023-07-27          6.81
2731  2023-08-03          6.90
2732  2023-08-10          6.96

[2733 rows x 2 columns]

In [ ]:
mortgage = mortgage.groupby(pd.PeriodIndex(mortgage['DATE'], freq="M"))['MORTGAGE30US'].mean().reset_index()

In [ ]:
mortgage = pd.DataFrame(mortgage.reset_index())

In [ ]:
mortgage

         MORTGAGE30US
DATE
1971-04        7.3100
1971-05        7.4250
1971-06        7.5300
1971-07        7.6040
1971-08        7.6975
...               ...
2023-04        6.3425
2023-05        6.4250
2023-06        6.7140
2023-07        6.8400
2023-08        6.9300

[629 rows x 1 columns]

In [ ]:
mortgage.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 629 entries, 1971-04 to 2023-08
Freq: M
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MORTGAGE30US  629 non-null    float64
dtypes: float64(1)
memory usage: 9.8 KB

In [ ]:

mortgage[['YEAR', 'MONTH']] = mortgage['DATE'].str.split('-', expand=True)

mortgage['YEAR'] = mortgage['YEAR'].astype(int)
mortgage['MONTH'] = mortgage['MONTH'].astype(int)

In [ ]:
real_estate

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Full Address,latitude,longitude,month_recorded,year_recorded
0,10,200086,2020,2021-08-10,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family,NaN,NaN,NaN,"39, Woodland Rd, Bethlehem, Connecticut, Unite...",-73.18197,41.64672,8,2021
1,98,200639,2020,2021-07-28,Groton,4 TYLER AVE,259770.0,650000.0,0.399646,Residential,Single Family,NaN,NaN,NaN,"4, Tyler Ave, Groton, Connecticut, United States",-72.07229,41.32148,7,2021
2,100,200020,2020,2020-10-06,Groton,98 EAST SHORE AVE,654570.0,990000.0,0.661182,Residential,Single Family,7.0,TEAR DOWN,NaN,"98, East Shore Ave, Groton, Connecticut, Unite...",-72.00446,41.31252,10,2020
3,137,200038,2020,2020-10-09,Meriden,41 SUNNY LANE,209440.0,307000.0,0.682200,Residential,Single Family,NaN,NaN,NaN,"41, Sunny Lane, Meriden, Connecticut, United S...",-72.79013,41.51639,10,2020
4,299,200374,2020,2021-05-18,Vernon,27 TRACY DRIVE,129190.0,226800.0,0.569600,Residential,Single Family,NaN,NaN,NaN,"27, Tracy Drive, Vernon, Connecticut, United S...",-72.47857,41.84938,5,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123748,997181,190389,2019,2020-03-24,Norwich,17 VINE ST,86600.0,182000.0,0.475800,Three Family,Three Family,NaN,NaN,NaN,"17, Vine St, Norwich, Connecticut, United States",-72.07006,41.53315,3,2020
123749,997187,190478,2019,2020-02-14,Norwalk,38 HYATT AVE,283180.0,440000.0,0.643600,Single Family,Single Family,14.0,FORECLOSURE BY SALE: 1-7-9-0,NaN,"38, Hyatt Ave, Norwalk, Connecticut, United St...",-73.42700,41.11112,2,2020
123750,997192,190159,2019,2020-07-23,Weston,62 RIDGE ROAD,516990.0,790000.0,0.654400,Single Family,Single Family,NaN,NaN,NaN,"62, Ridge Road, Weston, Connecticut, United St...",-73.38341,41.19079,7,2020
123751,997204,190105,2019,2020-02-25,Plymouth,18 OVERLOOK RD,104130.0,80000.0,1.301625,Single Family,Single Family,14.0,NaN,BANK SALE PER MLS,"18, Overlook Rd, Plymouth, Connecticut, United...",-72.98492,41.64753,2,2020
123752,997206,19921,2019,2019-11-18,West Haven,75 CLOVER ST,125230.0,246000.0,0.509100,Single Family,Single Family,NaN,NaN,NaN,"75, Clover St, West Haven, Connecticut, United...",-72.96445,41.25722,11,2019

In [ ]:

merged_df = pd.merge(real_estate, mortgage, on=['year', 'month'], how='left')

print(merged_df)



mortgage = mortgage.groupby(pd.PeriodIndex(mortgage['DATE'], freq="M"))['MORTGAGE30US'].mean().reset_index()

merged_df = pd.merge(real_estate, mortgage, left_on=['year', 'month'], right_on=['DATE', 'MORTGAGE30US'], how='left')

merged_df.drop(['DATE', 'MORTGAGE30US'], axis=1, inplace=True)

print(merged_df)